@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Black Ops One", system-ui, sans-serif;
  --font-tech: "Orbitron", monospace;
  
  --color-neon-red: #ff003c;
  --color-neon-blue: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-neon-gold: #ffd700;
}

body {
  background-color: #050505;
  color: #ffffff;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake-hard {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
